{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
          <h2>Parte {{ Constants.part_alloc }}: <span id="lower"> Distribución </span></h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark rounded mb-1" id="pale">
          <h5>Instrucciones Parte {{ Constants.part_alloc }}.</h5>

          Esta es la Parte final del experimento y consiste de una sola ronda. En esta ronda, se le asignarán
          {{ Constants.pie }} {{ Constants.exp_currency }} y usted debe decidir cómo quiere distribuirlos entre dos
          jugadores que han sido aleatoriamente emparejados con usted: Jugadores <b>A</b> y <b>B</b>.

          <br><br>

          El jugador <b>A</b> es uno de los jugadores asignados al grupo <span id='symbol'>&#9679</span> "{{ circles_label }}"
          en las Partes {{ Constants.part_name }} y {{ Constants.part_fixed }}. Es decir, es uno de los jugadores que obtuvo
          el <b>menor número</b> de sumas correctas en la Parte {{ Constants.part_task }}. El jugador <b>B</b> es uno de los
          jugadores asignados al grupo <span id='symbol'>&#9650</span> "{{ triangles_label }}" en las Partes
          {{ Constants.part_name }} y {{ Constants.part_fixed }}. Es decir, es uno de los jugadores que obtuvo
          el <b>mayor número</b> de sumas correctas en la Parte {{ Constants.part_task }}.

          <br><br>

          El computador elegirá de manera aleatoria la decisión de distribución tomada por uno de los {{ Constants.players }}
          jugadores que han participado juntos en el experimento, y pagará esa decisión. Por ejemplo, si su decisión es la
          elegida, los jugadores <b>A</b> y <b>B</b> emparejados con usted recibirán los puntos que usted les haya asignado.
          Ninguno de los otros 5 jugadores (incluido usted) recibirán ningún punto en esta parte. Así mismo, si la decisión
          de otro jugador es elegida y usted es uno de los jugadores <b>A</b> ó <b>B</b> emparejados con él, usted recibirá
          los puntos que le hayan sido asignados.

          <br><br>

      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-2 border border-dark rounded mb-1" id="network">
        <div>
            <br>
            <b>Jugador A.</b>
            <br><br>
            <img width="100%" src="{% static "alloc_es/Img_T1.jpeg" %}"/>
        </div>
      </div>
      <div class="col-sm-2 border border-dark rounded mb-1" id="network">
        <div>
            <br>
            <b>Jugador B.</b>
            <br><br>
            <img width="100%" src="{% static "alloc_es/Img_T2.jpeg" %}"/>
        </div>
      </div>
      <div class="col-sm-8 border border-dark rounded mb-1" id="network">
        <div>
            <br>
            <p>
                <b>Decisión:</b> Usted tiene {{ Constants.pie }} {{ Constants.exp_currency }} para distribuir entre los jugadores A y B,
              Presione el botón con la distribución que usted prefiera.
            </p>
            <div id="center">
                <input type="hidden" value="0" name="alloc" id="alloc"/>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(0)">0 a A y 10 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(1)">1 a A y 9 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(2)">2 a A y 8 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(3)">3 a A y 7 a B</button>
                <br>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(4)">4 a A y 6 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(5)">5 a A y 5 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(6)">6 a A y 4 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(7)">7 a A y 3 a B</button>
                <br>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(8)">8 a A y 2 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(9)">9 a A y 1 a B</button>
                <button type="otree-btn-next" class="btn button btn-sm" onclick="$('#alloc').val(10)">10 a A y 0 a B</button>
            </div>
            <br>
        </div>
      </div>
    </div>
</div>

{% endblock %}


{% block styles %}
    <style type="text/css">
        #center {
            text-align: center;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA;
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
        .buttonup {
            background-color: #9C27B0;
            color: #ffffff;
            border: 1px solid #AD1457;
            padding: 1px 2px;
            display: inline-block;
            {#font-size: 13px;#}
        }
        .buttondown {
            background-color: #00BCD4;
            color: #ffffff;
            border: 1px solid #00838F;
            padding: 1px 2px;
            display: inline-block;
            {#font-size: 13px;#}
        }
        .button_inst {
            background-color: #EEE8AA;
            color: #000000;
            border: 1px solid #000000;
            padding: 1px 2px;
            display: inline-block;
            {#font-size: 13px;#}
        }
    </style>
{% endblock %}
