{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border border-dark text-white rounded" id="upper">
        <h2> Bienvenido a la Parte {{ Constants.part_fluid }} </h2>
      </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 border rounded" id="pale">
        <h5>
            Usted ha terminado la Parte {{ Constants.part_fixed }} y ahora comenzará la Parte {{ Constants.part_fluid }}:
        </h5>
      </div>
    </div>
</div>
<div class="container">
    <div class="row">
      <div class="col-sm-2 border text-white rounded" id="network">
            <img width="100%" src="{% static "inst_fluid_es/Img_X1.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" id="pale">
        <p>
            <br>
            Primero, usted leerá las instrucciones de la <b>Parte {{ Constants.part_fluid }}</b>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" id="network">
            <img width="100%" src="{% static "inst_fluid_es/Img_X2.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" id="pale">
        <p>
            <br>
            Luego, usted participará en la Parte {{ Constants.part_fluid }} por <b>{{ Constants.rounds_fixed }} rondas</b>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 border text-white rounded" id="network">
            <img width="100%" src="{% static "inst_fluid_es/Img_X3.jpeg" %}"/>
      </div>
      <div class="col-sm-10 border rounded" id="pale">
        <p>
            <br>
            Usted recibirá el pago por <b>una de las {{ Constants.rounds_fixed }} rondas</b> de la Parte {{ Constants.part_fluid }}.
            Así como con la Parte {{ Constants.part_fixed }}, al finalizar el estudio, el computador seleccionará de
            manera aleatoria cúal ronda se usará para su pago.
        </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continuar </button>
          <br><br>
      </div>
    </div>
</div>

{% endblock %}

{% block styles %}
    <style type="text/css">
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .button {
            background-color: #000000;
            color: #EEE8AA;
            border: 2px solid #EEE8AA
        }
        .button:hover {
            background-color: #EEE8AA;
            color: #000000;
            border: 2px solid #000000
        }
        #upper{
            background-color: #000000;
        }
        #middle{
            background-color: #424242;
        }
        #lower{
            color: #EEE8AA
        }
        #network{
            background-color: #ffffff;
        }
        #pale{
            background-color: #F5F5F5;
        }
    </style>
{% endblock %}